# Visual Studio
.vs/
bin/
obj/
.qodo/

# Archivos generados
*.user
*.suo
*.cache
.qodo

# Excluir artefactos pesados de benchmarks/k6
**/k6 Performance Testing/resultados.csv
**/logs/*.txt
**/BenchmarkDotNet.Artifacts/*.log
**/*-Benchmarks-*.log
